/* FULL SCREEN CONTAINER */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LEFT SIDE IMAGE */
/* LEFT SIDE */
.login-left {
  flex: 1;
  position: relative;
  overflow: hidden;
}

/* VIDEO SETTINGS */
.login-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE PANEL */
.login-right {
  flex: 1;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 400px;
}

.login-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login-content p {
  margin-bottom: 40px;
  color: #aaa;
}

/* BUTTONS */
.login-content button {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.google-btn {
  background: white;
  color: black;
}

.apple-btn {
  background: #f5f5f5;
  color: black;
}

.enterprise-btn {
  background: #333;
  color: white;
}

small {
  display: block;
  margin-top: 30px;
  color: #777;
}