.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  background: rgba(227, 227, 229, 0.95);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding:16px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-logo {
  font-size: 1.25rem;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.navbar-logo span {
  font-weight: 400;
  color: #666;
  margin-left: 4px;
}

/* Links */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-links a {
  color: #555;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar-links a:hover {
  color: #000000;
}

/* CTA button */
.navbar-links .cta-btn {
  background: #000;
  color: #fff;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 600;
}

.navbar-links .cta-btn:hover {
  opacity: 0.9;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 20px 40px;

    display: none;
  }

  .navbar-links.open {
    max-height: flex;
    display:flex;
  }

  .hamburger {
    display: block;
  }
}
